name: Fetch and Store YAML Files

on:
  repository_dispatch:
    types: [tag-pushed]

jobs:
  fetch_files:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo B
      uses: actions/checkout@v3

    - name: Define base URL
      id: define_url
      run: |
        echo "BASE_URL=https://api.github.com/repos/olamilekan000/leased-based-le" >> $GITHUB_ENV

    - name: Get tag from event
      id: extract_tag
      run: |
        TAG=${{ github.event.client_payload.tag }}
        TAG=${TAG#refs/tags/}
        echo "TAG=${TAG}" >> $GITHUB_ENV
        echo "Extracted tag: ${TAG}"

    - name: Create and switch to a new branch
      run: |
        TAG=${{ env.TAG }}
        git checkout -b "release-${TAG}"

    - name: Create directory for the tag
      run: |
        mkdir -p ${{ github.workspace }}/releases/download/${{ env.TAG }}

    - name: Fetch YAML files from Repo A
      run: |
        # Fetch file list and print for debugging
        curl -H "Authorization: Bearer ${{ secrets.PAT }}" \
            -s "${{ env.BASE_URL }}/contents/crd?ref=${{ env.TAG }}" | jq '.'

        # Fetch and save YAML files
        for file in $(curl -H "Authorization: Bearer ${{ secrets.PAT }}" \
                        -s "${{ env.BASE_URL }}/contents/crd?ref=${{ env.TAG }}" \
                        | jq -r '.[] | select(.name | endswith(".yaml")) | .download_url'); do
          # Strip query parameters from URL to get the file name
          FILE_NAME=$(basename "${file%%\?*}")
          curl -L $file -o "${{ github.workspace }}/releases/download/${{ env.TAG }}/$FILE_NAME"
        done

    - name: List files for debugging
      run: |
        ls -R ${{ github.workspace }}/releases/download/${{ env.TAG }}

    - name: Commit and push changes
      run: |        
        # Add changes and commit
        git add .
        git status
        git commit -m "Add YAML files for tag ${{ env.TAG }}"
        
        # Push changes to the branch
        git push https://x-access-token:${{ secrets.PAT }}@github.com/olamilekan000/dump-crds.git "release-${{ env.TAG }}"

    - name: Install GitHub CLI
      run: |
        sudo apt-get update
        sudo apt-get install gh

    - name: Authenticate GitHub CLI
      run: |
        echo "${{ secrets.PAT }}" | gh auth login --with-token

    - name: Create Pull Request
      run: |
        gh pr create \
          --base master \
          --head "release-${{ env.TAG }}" \
          --title "Release ${{ env.TAG }}" \
          --body "Changes include CRD updates from Tyk-Operator-Internal for ${{ env.TAG }} release.

          Thank you!"
